<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2in1V1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA82C2E41CCDF3F6009A52AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA82C2F81CCDF3F6009A52AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA82C3031CCDF3F6009A52AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
